<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MercaFácil - Pagina de Creación de producto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/crearProducto.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/js/scripts.js"></script>

    </head>
<body>
    <%- include('./views/partials/header.ejs')-%>
    <div class="sub-header">
        <h2>CREACIÓN PRODUCTO</h2>
    </div>

    <div class="detalle-producto">
    <section>
        <form action="/products/create" method="POST">
            <div>
                <table>
                    <!--<%  if( locals.errors ) {

                        errors.forEach((error) =>{ %>
                        <p class="is-danger"> <%= error.msg%></p>   
                     <% }) %>
                     <% } %> -->
                    <tr>
                        <label class="form-label">Nombre del producto:</label>
                        <div>
                            <input type="text" placeholder="Ingrese el nombre del producto" name="name" class="form-input">
                        </div>
                    </tr>

                    <tr>
                        <label class="form-label">Precio del producto:</label>
                        <div>
                            <input type="text" placeholder="Ingrese el precio del producto" name="price" class="form-input">
                        </div>
                    </tr>

                    <tr>
                        <div>
                            <label class="form-label" for="category">Categoría:</label><br>
                            <select name="category" id="category" class="form-input">
                                <% for (let i = 0; i < categories.length; i++ ){ %>
                                    <option value="<%=categories[i].id%>">
                                        <%=categories[i].name%>
                                    </option>  
                                <% } %>
                            </select>
                        </div>
                    </tr>

                    <tr>
                        <label class="form-label">Descripción:</label>
                        <div>
                            <textarea type="text"  name="description" placeholder="Ingrese la descripción del producto" id="description" class="form-input"></textarea>
                        </div>
                    </tr>

                    <tr>
                        <label for="name" class="form-label">Cantidad:</label>
                        <div>
                            <input type="text" id="quantity" name="quantity" placeholder="Ingrese la cantidad del producto" class="form-input">
                        </div>           
                    </tr>

                    <tr>
                        <label class="form-label">Cargar Imagen:</label>
                        <div>
                            <input type="file" name="image" value="<%=products.image%>">
                        </div>
                    </tr>
                </table>
            </div>
            <div>
                <input type="submit" value="CREAR" id="crear" class="button">
            </div>

        </form>

    </section>
    </div>  
    <%- include('./partials/footer')-%>
</body>
</html>