<!DOCTYPE html>
<html>
    <head>
        <title>MercaFacil - Pagina de producto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/edit.css">  
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/js/scripts.js"></script>
        
    </head>
    <body>
        <%- include('./partials/header.ejs', {title: 'product.name'}) -%>
        <div class="sub-header">
            <h2>Edición Producto</h2>
        </div>
        <main>

	<div class="detalle-producto">

			<form action="/products/edit/<%=productToEdit.id%>?_method=PUT" method="POST">
				<div class="contenido-detalle-producto">
					<div class="contenido-detalle-producto">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" value="<%=productToEdit.name%>" placeholder="Eje: Caminador" class="form-input">
					</div>
					<div>
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" value="<%=productToEdit.price%>" placeholder="Eje: 50000" class="form-input" >
					</div>
					<div>
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text" id="discount" name="discount" value="<%=productToEdit.discount%>" placeholder="Eje: 30" class="form-input" >
					</div>
					<div>
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<option value="despensa">Despensa</option>
							<option value="bebidas" >Bebidas</option>
                            <option value="mascotas">Mascotas</option>
                            <option value="bebes"   >Bebes</option>
                            <option value="cuidado-personal" >Cuidado Personal</option>
                            <option value="limpieza">Limpieza</option>
						</select>
					</div>
						<label for="description" class="form-label">Descripción:</label>
						<textarea name="description" id="description" class="form-input"><%= productToEdit.description %></textarea>
					</div>
					<div>
						<button type="submit" class="button">GUARDAR</button>
					</div>
				</div>
			</form>
    </div>
        </main>
</body>

<%- include('./partials/footer')-%>
</html>