<!DOCTYPE html>
<html>
    <head>
        <title>MercaFacil - Carrito</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/productCart.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
        <script type="text/javascript" src="/js/scripts.js"></script>

    </head>
    <body>
        <%- include('./partials/header.ejs')-%>
        <div class="sub-header">
            <h2>Carrito de Compra</h2>
        </div>
        <main>
            <div class="carrito-compra">
                <div class="contenedor" >
                    <div class="tabla1">
                        <table class="tg" border="1">
                            <tr>
                                <th class="imagen" style="background-color: #FF9234">Productos</th>
                                <th class="tg-nrix" style="background-color: #FF9234">Descripción</th>
                                <th class="tg-nrix" style="background-color: #FF9234">Precio</th>
                                <th class="tg-nrix" style="background-color: #FF9234">Cantidad</th>
                            </tr>
                            <% for(let i=0; i<cart.length; i++){ %>
                            <tr>
                                <td class="imagen"><img src="/images/<%=cart[i].image%>" width="200px"alt="Imagen"/></td>  
                                <td class="borde-tabla"><%=cart[i].name%><br><br><%=cart[i].category %></td>
                                <td class="borde-tabla"><%=cart[i].price%></td>
                                <td class="borde-tabla"><input style="width: 80px;" type="number" value="<%=cart[i].quantity%>" readonly/><br></td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                    <div class="tabla2">
                        <table class="tg">
                            <tr>
                                <th colspan="2" class="tg-nrix" style="background-color: #FF9234">Resumen de Compra</th>
                            </tr>
                            <tr>
                                <td class="tg-cly1">Subtotal</td>
                                <% let acumulador = 0; %>
                                <% if(cart.length > 0) {%>
                                    <% for(let i=0; i<cart.length;i++){ %>
                                        <% acumulador += cart[i].price*cart[i].quantity; %>
                                    <% } %>
                                    
                                <% } %>
                                <td> <%= `$${acumulador}` %></td>

                            </tr>
                            <tr>
                                <td class="tg-cly1">Total Envío</td>
                                <% acumulador = 0; %>
                                <% if(cart.length > 0){ %>
                                    <% for(let i=0; i<cart.length;i++){ %>
                                        <% acumulador += cart[i].price*cart[i].quantity; %>
                                    <% } %>
                                <% } %>
                                <td> <%= `$${acumulador}` %></td>
                            </tr>
                            <tr>
                                <td class="tg-cly1">Total a Pagar</td>
                                <% acumulador = 0; %>
                                <% if(cart.length > 0){ %>
                                    <% for(let i=0; i<cart.length;i++){ %>
                                        <% acumulador += cart[i].price*cart[i].quantity; %>
                                    <% } %>
                                <% } %>
                                <td><strong> <%= `$${acumulador}`%> </strong></td>
                            </tr>
                            
                        </table><br>
                    <div class="tabla2-botones">
                        <form action="/products/pago" method="GET">
                            <button type="submit"><i class="fas fa-check"></i> FINALIZAR COMPRA</button><br>
                        </form>
                        <form action="/products" method="GET">
                            <button type="submit"><i class="fas fa-undo"></i> CONTINUAR CON LA COMPRA</button><br>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </main>
    
    </body>
    <%- include('./partials/footer')-%>
</html>