<!DOCTYPE html>
<html lang="en">
<head>
    <title>MercaFacil - Pagina de registro</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/normalize.css">    
    <link rel="icon" data-head-react="true" href="/images/logo-banner.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/scripts.js"></script>

</head>
<body class="body">
    <%- include('./partials/header.ejs')-%>
    <div class="sub-header">

        <h2>REGISTRO</h2>
    </div>
    <section class="box-registo">
        <form action="/users/registro" method="POST" enctype="multipart/form-data" class="form-registro">
            <div>
                <label>Nombres:</label>
                <input type="text" placeholder="Ingrese su nombre completo" name="nombre"
                value= "<%= locals.oldData ? oldData.nombre : null %>">
                
                <% if (locals.errors && errors.nombre) { %>
                    <div class="text-danger">
                        <%= errors.nombre.msg %>
                    </div>
                    <% } %> 
                
            </div>
            
            <div>
                
                <label>Apellidos:</label>
                <input type="text" placeholder="Ingrese sus apellidos" name="apellido">
            </div>
            <div class="flex-container">
            <% if (locals.errors && errors.apellido) { %>
                    <div class="text-danger">
                        <%= errors.apellido.msg %>
                    </div>
                    <% } %> 

                <div>
                    <label>Tipo de documento:</label>
                    <select name="tipo-de-documento">
                        <option value=""> DNI</option>
                        <option value=""> Libreta de enrolamiento</option>
                        <option value=""> Cédula de Ciudadanía</option>
                    </select>
                </div>
                <div>
                    <label>No cédula  de Ciudadanía:</label>
                    <input type="text" placeholder="Ingrese su cédula" name="cedula">
                    <% if (locals.errors && errors.cedula) { %>
                        <div class="text-danger">
                            <%= errors.cedula.msg %>
                        </div>
                        <% } %> 
                </div>
            </div>
            <div>
                <label>Teléfono:</label>
                <input type="text" placeholder="Ingrese su No. de teléfono" name="telefono">
                <% if (locals.errors && errors.telefono) { %>
                    <div class="text-danger">
                        <%= errors.telefono.msg %>
                    </div>
                    <% } %> 
            </div>
            <div>
                <label>Email:</label>
                <input type="text" placeholder="Ingrese su correo electrónico" name="email">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                    <% } %> 
            </div>
            <div>
                <label>Contraseña:</label>
                <input type="password" placeholder="Ingrese su contraseña" name="contraseña">
                <% if (locals.errors && errors.contraseña) { %>
                    <div class="text-danger">
                        <%= errors.contraseña.msg %>
                    </div>
                    <% } %> 
            </div>
            <div>
                <button type="submit" class="btn-form2" id="registrarse" name="registrarse">REGISTRARSE</button>


            </div>
        </form>
        <div class="box-img-registro">
            <img src="/images/logo-banner.png" class="img">
        </div>
    </section>    
</body>
<%- include('./partials/footer')-%>
</html>